/* RESTAURANTS */

#restaurants {
  background-color: $section-bg;

  .restaurants__container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1400px;
    margin: auto;
    h2 {
      margin: 10px 10px 0px 30px;
    }

    @media screen and (min-width: 768px) {
      align-items: unset;
      gap: 15px;
    }

    .group-Card {
      display: flex;
      flex-direction: column;
      width: 95%;
      gap: 30px;

      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
      }
    }
    .group-Card a {
      @media screen and (min-width: 768px) {
        width: 45%;
      }
      .Card {
        background-color: $white;
        border-radius: 15px;
        box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
        margin: 20px;
        height: 210px;
        position: relative;

        .New {
          color: #008766;
          background-color: $third;
          width: 60px;
          padding: 5px;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          border-radius: 2px;
          position: absolute;
          top: 10px;
          right: 10px;
        }

        img {
          width: 100%;
          height: 65%;
          object-fit: cover;
          border-radius: 15px 15px 0px 0px;
        }
        & .description {
          height: 35%;
          line-height: 5px;
          margin: 5px 10px 5px 10px;
        }
        @include heart;
      }
    }
  }
}
