/* Search */

#recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $search;
  .search {
    width: 8%;
    border: none;
    outline: none;
    background-color: $search;
    margin: 0px;
    padding: 12px;
    @media screen and (max-width: 768px) {
      width: unset;
    }
  }
  input.text {
    text-decoration: inherit;
    text-align: center;
    font-weight: bold;
  }
}
