/* Search */
.search {
  width: 100%;
  border: none;
  background-color: $search;
  margin: 0px;
  padding: 12px;
}
input.text {
  text-decoration: inherit;
  text-align: center;
  font-weight: bold;
}
