/* Footer */

#footer {
  background-color: $footer-bg;
  display: flex;
  flex-direction: column;
  padding: 20px;
  @media screen and (min-width: 768px) {
    bottom: 0px;
  }
  & .footerLinks {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  a {
    text-decoration: none;
    color: $white;
    font-size: 12px;
    line-height: 22px;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  & .footerLogo {
    @media screen and (min-width: 768px) {
    }
  }
  & .logo {
    color: $white;
    font-size: 16px;
    font-family: "Shrikhand", cursive;
    padding-bottom: 10px;
    width: 100px;
  }
  & .fa-utensils {
    height: 15px;
    width: 15px;
  }
}
