/* Footer */
#footer {
  background-color: $footer-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;

  .footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      text-decoration: none;
      color: $white;
      font-size: 12px;
      line-height: 22px;
      margin-right: 20px;
    }
  }

  .footerLogo {
    display: flex;
    align-items: center;
    margin-left: auto;

    .logo {
      color: $white;
      font-size: 16px;
      font-family: "Shrikhand", cursive;
      padding-bottom: 10px;
      width: 100px;
    }
  }
}
