/* Footer */
/*
#footer {
  background-color: $footer-bg;
  display: flex;
  flex-direction: column;
  padding: 20px;
  @media screen and (min-width: 768px) {
    bottom: 0px;
  }
  & .footerLinks {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  a {
    text-decoration: none;
    color: $white;
    font-size: 12px;
    line-height: 22px;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  & .footerLogo {
    @media screen and (min-width: 768px) {
    }
  }
  & .logo {
    color: $white;
    font-size: 16px;
    font-family: "Shrikhand", cursive;
    padding-bottom: 10px;
    width: 100px;
  }
  & .fa-utensils {
    height: 15px;
    width: 15px;
  }
}*/

/* Footer */
#footer {
  background-color: $footer-bg;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Pour aligner les éléments vers la droite */
  align-items: center; /* Pour centrer verticalement les éléments */
  padding: 20px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap; /* Si l'espace est insuffisant, les éléments vont passer à la ligne */
  }

  .footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Pour aligner les éléments vers la droite */
    align-items: center; /* Pour centrer verticalement les éléments */

    > div {
      margin-left: 20px; /* Espacement entre les éléments */
    }

    @media screen and (max-width: 768px) {
      margin-top: 10px; /* Espacement entre les deux lignes sur les petits écrans */
      justify-content: center; /* Pour centrer horizontalement sur les petits écrans */
    }
  }

  a {
    text-decoration: none;
    color: $white;
    font-size: 12px;
    line-height: 22px;
    margin-left: 20px; /* Espacement entre les liens */
    @media screen and (max-width: 768px) {
      margin: 0 10px; /* Espacement entre les liens sur les petits écrans */
    }
  }

  .footerLogo {
    margin-right: auto; /* Pour pousser le logo tout à droite */
  }

  .logo {
    display: flex;
    justify-content: flex-end;
    color: $white;
    font-size: 16px;
    font-family: "Shrikhand", cursive;
    width: 100px;
  }

  .fa-utensils {
    height: 15px;
    width: 15px;
  }
}
